<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.aliyun.playerkit.scenes.aieducation.AiEducationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="scenes"
                    android:path="/aieducation"
                    android:scheme="playerkit" />
            </intent-filter>
        </activity>
    </application>

</manifest>
